
@{
    ViewData["Title"] = "Info";
}



    <div class="container">
        <h2>Dziękujemy za wspieranie serwera ShiniMC.pl! Kupiony produkt powinien być już przypisane do Twojego konta :)</h2>
    </div>
    <div class="buttons">
        <a class="button" href="/sklep">
            <span class="icon">
                <i class="fas fa-shopping-basket"></i>
            </span>
            <span class="text">
                Sklep
            </span>
        </a>
        <a class="button" href="https://discord.gg/y6PACxPjNR">
            <span class="icon">
                <i class="fab fa-discord"></i>
            </span>
            <span class="text">
                Discord
            </span>
        </a>
        <a class="button" href="/ranking">
            <span class="icon">
                <i class="fas fa-crown"></i>
            </span>
            <span class="text">
                Ranking
            </span>
        </a>
    </div>

    <br /><br />


