<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>FreeHC.pl - @ViewData["Title"]</title>

    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '127884391102249');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=127884391102249&ev=PageView&noscript=1" />
    </noscript>
    <script src="https://js.stripe.com/v3/"></script>
    <!-- End Facebook Pixel Code -->
</head>

<body data-gr-c-s-loaded="true">
    <div class="wrapper" id="wrapper">

        <div class="background" id="background" style="margin-left: -6.58px; margin-top: 2.62px;"></div>
        <div class="particles" id="particles"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1280" height="573"></canvas></div>
        <a class="logo" href="/">
            <img src="./assets/logo.png">
        </a>
        @RenderBody()
        </div>
        <script src="./assets/particles.min.js"></script>
        <script src="./assets/script.js"></script>

</body>

</html>