@{
    ViewData["Title"] = "Serwer cuboidy 1.16.5";
}

<div class="server-status" id="server-status">
    Dołącz do <span id="server-players">@ViewData["online"]</span> graczy online na <span id="server-ip">freehc.pl</span>
</div>

<div class="buttons">
    <a class="button" href="/sklep">
        <span class="icon">
            <i class="fas fa-shopping-basket"></i>
        </span>
        <span class="text">
            Sklep
        </span>
    </a>
    <a class="button" href="https://discord.gg/6NCej32zr2">
        <span class="icon">
            <i class="fab fa-discord"></i>
        </span>
        <span class="text">
            Discord
        </span>
    </a>
    <a class="button" href="/ranking">
        <span class="icon">
            <i class="fas fa-crown"></i>
        </span>
        <span class="text">
            Ranking
        </span>
    </a>
</div>