@{
    ViewData["Title"] = "Serwer cuboidy 1.17";
}

<div class="server-status" id="server-status">
    Dołącz do jednego z najbardziej klimatycznych serwerów survival!
    <br/>Czekamy na <span id="server-ip">shinimc.pl</span>
</div>

<div class="buttons">
    <a class="button" href="/sklep">
        <span class="icon">
            <i class="fas fa-shopping-basket"></i>
        </span>
        <span class="text">
            Sklep
        </span>
    </a>
    <a class="button" href="https://discord.gg/y6PACxPjNR">
        <span class="icon">
            <i class="fab fa-discord"></i>
        </span>
        <span class="text">
            Discord
        </span>
    </a>
    <a class="button" href="/ranking">
        <span class="icon">
            <i class="fas fa-crown"></i>
        </span>
        <span class="text">
            Ranking
        </span>
    </a>
</div>